@import './custom-properties.css';
@import './custom-media.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

.hidden-sm {
  @media (--media-max-small) {
    display: none !important;
  }
}
.hidden-md {
  @media (--media-max-medium) and (--media-min-small) {
    display: none !important;
  }
}
.hidden-lg {
  @media (--media-max-large) and (--media-min-medium) {
    display: none !important;
  }
}
.hidden-xl {
  @media (--media-min-large) {
    display: none !important;
  }
}
