@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

.mobileImages{
  @media (--media-min-medium) {
    display: none !important;
  }
  @nest & img {
    max-width: 100%;
  }
}
.carousel{
   @media (--media-max-medium) {
    display: none !important;
  }
}

.carousel__link {
  display: block;
  height: auto;
  width: 100%;
}

.carousel__image {
  width: 100%;
  display: block;
}