@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

.hiddenSm {
  @media (--media-max-small) {
    display: none !important;
  }
}
.hiddenMd {
  @media (--media-max-medium) and (--media-min-small) {
    display: none !important;
  }
}
.hiddenLg {
  @media (--media-max-large) and (--media-min-medium) {
    display: none !important;
  }
}
.hiddenXl {
  @media (--media-min-large) {
    display: none !important;
  }
}