@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  display: flex;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.branding {
  display: flex;
  font-weight: 600;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }

  @nest & .logo {
    display: block;
    margin-right: auto;
  }
}


.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;
  margin-top: 6em;
  color: var(--color-gray);

  @nest & ul {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  @nest & ul li a {
    display: block;
    width: 100%;
    font-family: acier-bat-solid;
    font-size: var(--nav-text-size);
    line-height: 1em;
    color: inherit;
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      color: var(--color-accent);
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 4.3rem;

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }

}

.small {
  @media (--media-min-large) {
    font-size: calc(.75 * var(--nav-text-size))!important;
  }
}

.showNav {
  display: block;
}
